@{
    ViewData["Title"] = "GEFORCE RTX 2080";
    ViewData["Lead"] = "RTX. IT’S ON.";
    ViewData["Content"] = "The GeForce RTX™ 2080 is powered by the all-new NVIDIA Turing™ architecture to give you incredible new levels of gaming realism, speed, power efficiency, and immersion. This is graphics reinvented.";
    ViewData["CallToAction"] = "Get the Founder's Edition Now!";
}

<div class="text-center">
    <h1>Earliest Possible Shipping Date: @DateTime.Today.AddDays(3).ToShortDateString()</h1>
</div>